* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "MV Boli" sans-serif;
}

/* Header */
.navbar {
  display: flex;
  padding: 30px 0;
  background-color: #c7c0bd83;
}

.logo h2 {
  padding-left: 100px;
  margin: 30px 0;
  font-family: "Lucida Handwriting", sans-serif;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul {
  display: inline-block;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
  cursor: pointer;
}

nav li {
  display: inline-block;
  padding: 8px 20px;
  border-radius: 30px;
}

li.bar {
  background: linear-gradient(to top right, #4d4848 0%, #d27979 100%);
}

li.bar:hover {
  background: linear-gradient(to top right, #245c7c 0%, #584040 100%);
}

.active a {
  font-weight: bold;
  color: #000;
  border-bottom: 2px solid rgb(93, 27, 95);
  font-size: 20px;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
/* End Header */

/* Proudct */
.product {
  background-image: url(img/bg-produk.jpg);
  background-size: cover;
}

.container-small h1 {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  color: rgb(70, 66, 66);
  padding-top: 50px;
}

.container-small h1:after {
  content: "";
  background: #c42d1a;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.flex-container {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.gallery {
  margin: 15px;
  border: 1px solid rgb(170, 157, 157);
  width: 252px;
}

div.gallery:hover {
  border: 1px solid #777;
}

.desc {
  padding-left: 15px;
  text-align: center;
}

.desc button {
  border-radius: 10px;
  background-color: #222557d3;
  border: none;
  font-size: 15px;
  color: #ffffff;
  padding: 15px 0;
  width: 100px;
  margin: 5px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
}

.desc button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.desc button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.desc button:hover span {
  padding-right: 15px;
}

.desc button:hover span:after {
  opacity: 1;
  right: 0;
}
/* End Product */

/* Footer */
.footer {
  background: rgb(136, 127, 127);
  box-shadow: 0 1px 1px 0 rgb(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  padding: 50px 60px 0 40px;
  overflow: hidden;
}

.footer-left {
  margin-right: 1.25em;
  margin-bottom: 2em;
  float: left;
}

.footer-left h1 {
  font-family: "Lucida Handwriting", sans-serif;
  font-weight: 400;
  text-transform: lowercase;
  font-size: 2.5rem;
}

.footer-left h2 {
  margin-top: 1.3em;
  font-size: 24px;
  font-weight: 400;
}
.footer address {
  font-style: normal;
  color: rgb(71, 65, 65);
}

.footer .footer-right {
  float: right;
}

.footer-right p {
  display: inline-block;
  vertical-align: top;
  margin: 15px 42px 0 0;
  color: #ffffff;
  font-family: "MV Boli" sans-serif;
  font-size: 20px;
}

.footer-right form {
  display: inline-block;
}

.footer form input,
.footer form textarea {
  display: block;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: #1f1f1f;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.102);
  border: none;
  resize: none;
  font-size: 14px;
  font-weight: normal;
  color: #d1d2d2;
  width: 400px;
  padding: 18px;
}

.footer form input {
  height: 55px;
  margin-bottom: 15px;
}

.footer form textarea {
  height: 100px;
  margin-bottom: 20px;
}

.footer button {
  border-radius: 3px;
  background-color: #33383b;
  color: #fff;
  border: 0;
  padding: 15px 50px;
  font-weight: bold;
  float: right;
  margin-bottom: 10px;
}
/* End Footer */

/* Contact */
.contact {
  width: 800px;
  height: 600px;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  background: url(img/bg-contact.jpg);
  background-size: cover;
}

.flex {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.title {
  width: 600px;
  height: 70px;
  border: 2px dashed black;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 15px;
  display: block;
  font-size: 30px;
  text-decoration: none;
  margin-bottom: 10px;
}

.title:hover {
  background-color: #f8ce81fa;
  border: 2px solid black;
}

.heading h1 {
  font-size: 50px;
  text-align: center;
  font-family: "Segoe Print", Times, serif;
  padding: 30px;
}
/* End Contact */

/* Log In Button */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#LogIn button {
  background: linear-gradient(to top right, #4d4848 0%, #d27979 100%);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 30px;
}

#LogIn button:hover {
  opacity: 0.8;
  background: linear-gradient(to top right, #245c7c 0%, #584040 100%);
}

#LogIn .cancelbtn {
  width: auto;
  padding: 10px 18px;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  border-radius: 50%;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 100px;
  text-align: left;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 80%;
}

.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

#LogIn .container {
  padding: 16px;
}
/* End Log In Button */
